
:root {
  --main1: #50A;
  --main2:#001E6C;
  --main3:#646464;
  --text1: #FFAA4C;
  --red1: #f01717;
  --black: #000000;
}
/* 
:root {
  --main1: #646464;
  --main2:#292929;
  --main3:#555;
  --text1: #fff;
  --red1: #f01717;
} */

h1 {
  font-family: "Lucida Console", "Lucida Sans Typewriter", monaco,
    "Bitstream Vera Sans Mono", monospace;
  font-size: 24px;
  font-style: normal;
  font-variant: normal;
  font-weight: 700;
  line-height: 26.4px;
}
h3 {
  font-family: "Lucida Console", "Lucida Sans Typewriter", monaco,
    "Bitstream Vera Sans Mono", monospace;
  font-size: 14px;
  font-style: normal;
  font-variant: normal;
  font-weight: 700;
  line-height: 15.4px;
}
p {
  font-family: "Lucida Console", "Lucida Sans Typewriter", monaco,
    "Bitstream Vera Sans Mono", monospace;
  font-size: 14px;
  font-style: normal;
  font-variant: normal;
  font-weight: 400;
  line-height: 20px;
}
blockquote {
  font-family: "Lucida Console", "Lucida Sans Typewriter", monaco,
    "Bitstream Vera Sans Mono", monospace;
  font-size: 21px;
  font-style: normal;
  font-variant: normal;
  font-weight: 400;
  line-height: 30px;
}
pre {
  font-family: "Lucida Console", "Lucida Sans Typewriter", monaco,
    "Bitstream Vera Sans Mono", monospace;
  font-size: 13px;
  font-style: normal;
  font-variant: normal;
  font-weight: 400;
  line-height: 18.5714px;
}

body {
  background-color: var(--text1);
  font-family: "Lucida Console", "Lucida Sans Typewriter";
  background-color: var(--main2);
  color: var(--text1);
}

.header-section {
  padding: 1rem;
}

.main-section {
}

/* skill */
.skill{
  margin: 10px;
  width: 90%;  display: inline-block;
}
@media only screen and (max-width:600px){
  .skill{
    margin: 10px;

    width: 100%;  display: inline-block;
  }
}

/* Hyperlinks */
.hyperlink {
  color: var(--text1);
  text-decoration: none;
  padding: 5px;
  border-radius: 3px;
  cursor: pointer;
}

.hyperlink:hover {
  color: var(--main1);
  background-color: var(--text1);

}

.hyperlink.is-active {
  color: var(--main1);
  background-color: var(--text1);
  
}

/* Highlight */
.highlight {
  padding: 3px;
  color: var(--main1);
  background-color: var(--text1);
  border-radius: 3px;
}

.hover-highlight{
  color: var(--text1);
  padding: 2px;
}

.hover-highlight:hover {
  color: var(--main1);
  background-color: var(--text1);
}

/* colors */
.bg-white {
  background-color: var(--text1);
}

.text-white {
  color: var(--text1);
}

.bg-grey {
  background-color: var(--main2);
}

.text-grey {
  color: var(--main2);
}

.border-white-1 {
  /* border-top: 1px solid var(--text1);
  border-bottom: 1px solid var(--text1); */
  border: 2px solid var(--main2);
  background-color: var(--text1);
}

.border-white-1:hover {
  background-color: var(--main2);
  color: var(--text1);
  border: 2px solid var(--main2);

}
.border-grey-1 {
  border: 1px solid var(--main2);
}

.border-white-2 {
  border: 2px solid var(--text1);
}

.border-grey-2 {
  border: 2px solid var(--main2);
}

.border-white-3 {
  border: 3px solid var(--text1);
}

.border-grey-3 {
  border: 3px solid var(--main2);
}
.border-white-4 {
  border: 4px solid var(--text1);
}

.border-grey-4 {
  border: 4px solid var(--main2);
}
.border-white-5 {
  border: 5px solid var(--text1);
}

.border-grey-5 {
  border: 5px solid var(--main2);
}
.border-white-6 {
  border: 6px solid var(--text1);
}

.border-grey-6 {
  border: 6px solid var(--main2);
}

/* button */
.btn-color{
  background-color: var(--text1);
  color: var(--main2);
  border:1px solid  var(--main2);
}
.btn-color:hover{
  background-color: var(--main2);
  color: var(--text1);
  border:1px solid  var(--text1);
}
.btn-color:focus{
  background-color: var(--main2);
  color: var(--text1);
  border:1px solid  var(--text1);
}
/* image */

.img {
  width: 10rem;
  background-color: transparent;
  border: none;
}

.full-image-div{
  /* display: none; */
  position: fixed;
  top: 0%;
  width: 100%;
  height: 100%;
  background-color: var(--main2);
  overflow-y: auto;
}
.closeBtn{
  font-weight: 900;
  padding: 5px;
  margin-bottom: 10px;
  display: inline;
}
.closeBtn:hover{
  background-color: var(--text1);  
  color: var(--red1);
  cursor: pointer;
}

/* scroll bar css */
::-webkit-scrollbar {
  width: 5px;
}
::-webkit-scrollbar-track {
  background: var(--text1);
}
::-webkit-scrollbar-thumb {
  background: var(--main2);
  border-radius: 2px;
  border: 1px solid var(--text1);
}

::-webkit-scrollbar-thumb:hover {
  background: var(--main3);
}


/* Typing animation */

.typewriter {
  min-width: 500px;
  display: flex;
  align-items: baseline;
}


.typewriter p {
  color:var(--text1);
  width: 0;
  max-width: max-content;
  overflow: hidden; 
  border-right: .05em solid var(--text1);
  white-space: nowrap;

}

.typing-erase {
  animation: 
    6s typing-erase 4s steps(50, end) infinite,
    blink-caret .5s step-end infinite;
}

@keyframes typing-erase {
  0% { width: 0 }
  80% { width: 100% }
  90%, 100% { width: 0 }
}

@keyframes blink-caret {
  from, to { border-color: transparent }
  50% { border-color: var(--text1); }
}

.loading-text{
  animation:
  hide 1s forwards;
}

@keyframes hide {
  0% { opacity: 0 }
  10% { opacity: 1;}
  100% { opacity: 0; }
}

/* input */
.input{
  border-radius: 2px!important;
  background-color: var(--text1)!important;
  color: var(--main2);
}